/* dLightbox v0.2 */
.dLightbox_canvas {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  padding-top: var(--admin-bar,0);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 9999;
}
.dLightbox_canvas.active {
  display: flex;
}
.dLightbox_canvas > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.dL_slides-container {
  height: 100%;
  min-height: 50%;
  padding-bottom: 30px;
}
.dLightbox-thumbnails .dL_slides-container {
  padding-bottom: 0;
}
.dLightbox_slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dLightbox_slider ul {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: all 0.5s ease;
}
.dLightbox_slider ul li {
  flex: 1 0 100%;
  cursor: grabbing;
}
.dLightbox_slider ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
  user-select: none;
}
.dL_count,
.dL_close,
.dL_prev,
.dL_next {
  padding: 1rem 2vw;
}
.dL_close {
  font-size: clamp(1rem, 0.7rem + 1.43vw, 2rem);
}
.dL_prev,
.dL_next {
  font-size: clamp(2rem, 1.15rem + 4.3vw, 5rem);
}
.dL_close,
.dL_prev,
.dL_next {
  display: block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
  cursor: pointer;
  line-height: 1;
  z-index: 1;
  user-select: none;
}
.dL_close:hover,
.dL_prev:hover,
.dL_next:hover {
  opacity: 1;
}
.dL_noscroll {
  overflow-y: hidden;
}

.dL_thumbnails-container {
  gap: 5px;
  z-index: 1;
  justify-content: center !important;
  overflow: auto;
  min-height: 70px;
  margin-top: -1rem;
}
.dL_thumbnails-container img {
  max-width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.5;
}
.dL_thumbnails-container img.active {
  opacity: 1;
}
@media screen and (max-width: 700px) {
  .dL_thumbnails-container {
    justify-content: flex-start !important;
  }
}
